@model IEnumerable<AirPortAssignment.Models.Airplane>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirplaneType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumOfPassangers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeInMeter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAirportId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PilotId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCoPilotId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirplaneType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumOfPassangers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeInMeter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAirportId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PilotId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentCoPilotId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
